<%- include templates/head %>

<div class="container body">
  <div class="main_container">
      <%- include templates/leftCol %>

      <%- include templates/topNav %>

    <div class="right_col" role="main">
        <%- include partials/index3 %>
    </div>

      <%- include templates/footer %>
  </div>
</div>

<%- include templates/foot %>
