<%- include templates/head %>

<div class="container body">
  <div class="main_container">
    <%- include templates/leftCol %>

    <%- include templates/topNav %>

    <div class="right_col" role="main">
      <%- include partials/index %>
    </div>

    <%- include templates/footer %>
  </div>
</div>

<%- include templates/foot %>
