<%- include templates/head %>

<%- include templates/leftCol %>

<%- include templates/topNav %>

<div class="right_col" role="main">
    <%- include partials/index3 %>
</div>

<%- include templates/footer %>

<%- include templates/foot %>
